@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url("../font/Roboto-Bold/Roboto-Bold.woff2") format('woff2'), url("../font/Roboto-Bold/Roboto-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('Roboto-Regular'), url("../font/Roboto-Regular/Roboto-Regular.woff2") format('woff2'), url("../font/Roboto-Regular/Roboto-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url("../font/Roboto-Light/Roboto-Light.woff2") format('woff2'), url("../font/Roboto-Light/Roboto-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: #333;
  letter-spacing: 0.05rem;
}

.btn {
  background-color: #ff9d00;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.5rem 1.7rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.btn:hover {
  background-color: #ffb133;
}

.btn--o {
  color: #373737;
  background-color: #fff;
  border: 0.1rem solid #373737;
}

.btn--o:hover {
  background-color: #373737;
  color: #fff;
}

input {
  font-size: 1.4rem;
  padding: 1.5rem 1.7rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
}

input:focus {
  outline: none;
}

section > h2 {
  color: #313131;
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 3rem;
  text-transform: uppercase;
}

section > h2:after {
  content: '';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  width: 4.6rem;
  height: 0.6rem;
  background-image: url("../img/wavy-line.png");
  background-repeat: no-repeat;
}

.header {
  margin: 1.5rem 0;
  background: #fff;
}

.header__logo img {
  max-width: 100%;
}

.header__logo--mobile {
  display: none;
}

.header__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__contacts a {
  white-space: pre;
  font-size: 2.2rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.5rem;
}

.header__contacts a:nth-child(2) {
  margin-right: 2.5rem;
}

.header__contacts a:nth-child(2):after {
  display: none;
}

.header__contacts a:after {
  content: '';
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 0.1rem;
  height: 3.2rem;
  opacity: 0.2;
  margin-left: 1.5rem;
  background: #000;
}

.call-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.call-btn img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.7rem;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 53.3rem;
  background: url("../img/section-bg.png") center top;
  background-color: #fff;
  color: #fff;
}

.main:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.main__title {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 4.2rem;
}

.main__subtitle {
  font-size: 2.8rem;
}

.form-wrap {
  margin-top: 2.4rem;
  padding: 2.5rem;
  background: rgba(255,255,255,0.2);
}

.form-wrap__text {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.form-wrap__subtext {
  margin-left: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 3rem;
}

.form-wrap strong {
  font-size: 2rem;
  line-height: 3.2rem;
  text-transform: uppercase;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1.2rem 0;
}

.form .phone-input {
  text-align: center;
  margin-right: 1rem;
  width: 100%;
}

.triggers {
  padding: 5rem 0;
  background-color: #f4f4f4;
}

.advantage {
  text-align: center;
  margin-bottom: 2rem;
}

.advantage__title {
  color: #f39003;
  font-size: 3.6rem;
  font-weight: bold;
}

.advantage__subtitle {
  font-weight: 300;
}

.features {
  margin-top: 3.5rem;
}

.features [class^=col] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.feature {
  margin: 1rem 0;
  padding: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
}

.feature__img {
  margin-right: 1.5rem;
}

.feature-text__title,
.feature-text__subtitle {
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.feature-text__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.products {
  padding: 5rem 0;
  text-align: center;
}

.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.product img {
  max-width: 100%;
}

.product__title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.product__footer {
  margin-top: auto;
  margin-bottom: 2.5rem;
}

.product__footer .btn-o {
  margin-right: 1rem;
}

.offering {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 41.2rem;
  background: url("../img/section-bg2.png") center top;
}

.offering:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.offering-text {
  color: #fff;
}

.offering-text__title {
  font-size: 3.2rem;
  line-height: 3.5rem;
}

.offering-text__subtitle {
  font-size: 2.6rem;
}

.offering-text .form-title {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.offering-text .form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.offering-text .form .phone-input {
  max-width: 36.5rem;
}

.offering-text .form button {
  margin-top: 1rem;
  max-width: 18rem;
}

.offering-text__small {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 3rem;
}

.production {
  padding: 5rem 0;
}

.slider-preview {
  margin-bottom: 1.5rem;
}

.slider-preview .item {
  width: 53.5rem;
}

.slider-preview .item img {
  width: 100%;
}

.slider-wrapper {
  padding: 0 3rem;
}

.slider-wrapper .slider {
  margin: 0 auto;
}

.slider-wrapper .slider .slick-arrow {
  height: 100%;
  width: 2.5rem;
  border: 1px solid #ff9d00;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-wrapper .slider .slick-arrow:hover {
  background: #ff9d00;
}

.slider-wrapper .slider .slick-prev:before,
.slider-wrapper .slider .slick-next:before {
  content: '';
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2rem;
  height: 2rem;
  border-top: 2px solid #ff9d00;
  border-left: 2px solid #ff9d00;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.slider-wrapper .slider .slick-prev:before {
  left: 0.5rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slider-wrapper .slider .slick-next:before {
  right: 0.5rem;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.slider-wrapper .slider .slick-prev:hover:before,
.slider-wrapper .slider .slick-next:hover:before {
  border-color: #fff;
}

.slider-wrapper .slider .slick-prev {
  left: -3rem;
}

.slider-wrapper .slider .slick-next {
  right: -3rem;
}

.slider-wrapper .slider .slick-slide {
  position: relative;
}

.slider-wrapper .slider .slick-slide:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.slider-wrapper .slider .slick-current:before {
  opacity: 0;
}

.slider-wrapper .slider .item {
  margin: 0 0.65rem;
}

.production-text__title {
  font-size: 2.8rem;
  line-height: 2.2rem;
  color: #fff;
  width: 109%;
  background: #ff9d00;
  padding: 2rem;
  padding-left: 4rem;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: -1;
  -webkit-transform: translateX(-4rem);
  -ms-transform: translateX(-4rem);
  transform: translateX(-4rem);
}

.production-text p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
}

.clients {
  padding: 5rem 0;
  text-align: center;
}

.client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 21.5rem;
  min-height: 13.3rem;
  border: 0.1rem solid rgba(0,0,0,0.1);
}

.client:hover {
  cursor: pointer;
}

.client:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.client img {
  margin: auto;
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.reviews {
  background-color: #f4f4f4;
  padding: 5rem 0;
  text-align: center;
}

.reviews .slider-wrapper {
  padding: 0 4rem;
}

.reviews-slider {
  margin: 0 auto;
}

.reviews-slider .slick-arrow {
  height: 100%;
  width: 4rem;
}

.reviews-slider .slick-prev,
.reviews-slider .slick-next {
  z-index: 3;
}

.reviews-slider .slick-prev:before,
.reviews-slider .slick-next:before {
  content: '';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  height: 4rem;
  border-top: 2px solid #ff9d00;
  border-left: 2px solid #ff9d00;
}

.reviews-slider .slick-prev:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.reviews-slider .slick-next:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.reviews-slider .slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3.5rem;
  background: #fff;
  width: 28rem;
  height: 38rem;
}

.reviews-slider .slide:hover {
  cursor: pointer;
}

.reviews-slider .slide img {
  max-width: 100%;
  margin: auto;
}

.contacts {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 55rem;
}

.contacts .map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background: url("../img/map.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.contacts-block {
  position: relative;
  z-index: 1;
  max-width: 40rem;
  padding: 3.5rem;
  background-color: #fff;
}

.contacts-block section {
  margin-bottom: 2.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contacts-block section img {
  margin-right: 1.2rem;
}

.aside-row {
  width: 100%;
  margin-bottom: 1.3rem;
}

.aside-row__title {
  margin-top: -0.3rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.aside-row a,
.aside-row address {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.aside-row .btn {
  margin-top: 1.2rem;
}

.footer {
  background: #1b1b1b;
  text-align: center;
  padding: 3.5rem 0;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.7rem;
}

@media (max-width: 1200px) {
  .reviews-slider .slide {
    margin: 0 2rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 9px;
  }

  .header__contacts .phones {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1.5rem;
  }

  .header__contacts .phones a {
    font-size: 2rem;
    margin: 0;
  }

  .header__contacts .phones a:after {
    display: none;
  }

  .advantage__title {
    font-size: 3rem;
  }

  .features .feature__title {
    font-size: 3rem;
  }

  .features .feature__subtitle {
    font-size: 1.6rem;
  }

  .features .feature-blocks .feature-block {
    padding: 1rem;
  }

  .production-text__title {
    text-align: center;
    margin-top: 2rem;
    padding-left: 2rem;
    -webkit-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    transform: translateX(0rem);
    width: 100%;
  }

  .reviews-slider .slide {
    margin: 0 13rem;
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    margin: 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid #000;
  }

  .header__logo img {
    display: none;
  }

  .header__logo--mobile {
    background: #ffc0cb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #ff9d00;
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
  }

  .header__logo--mobile img {
    margin: auto;
  }

  .header__contacts .phones a {
    font-size: 1.6rem;
  }

  .call-btn {
    padding: 0.5rem;
  }

  .call-btn img {
    margin: 0;
  }

  .call-btn span {
    display: none;
  }

  .main {
    margin-top: 5.5rem;
  }

  .slider-wrapper {
    display: none;
  }

  .client {
    padding: 1rem;
  }

  .client img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .reviews .reviews-slider {
    max-width: 30rem;
  }

  .contacts .main-text {
    margin: auto;
    text-align: center;
  }

  .contacts .main-text__section img {
    display: none;
  }

  .contacts .map {
    position: static;
    display: block;
  }
}

@media (max-width: 576px) {
  .main__title {
    margin-top: 2rem;
    font-size: 3.5rem;
    line-height: 3.2rem;
    text-align: center;
  }

  .main__subtitle {
    font-size: 2rem;
    text-align: center;
  }

  .form-wrap {
    padding: 1.5rem;
    text-align: center;
  }

  .form-wrap__subtext {
    margin-left: 0;
  }

  .form {
    background: rgba(255,255,255,0);
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form input,
  .form button {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .offering-text__subtitle {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .offering-text .form-title {
    margin-top: 0.2rem;
  }

  .offering-text__small {
    display: block;
    margin-top: -1.5rem;
  }
}