@charset "UTF-8";

@import url(../lib/bootstrap/bootstrap-grid.min.css);

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto-Black/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* Libs */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background-color: #ff9d00;
  padding: 1.5rem 1.7rem;
  border: none;
  -webkit-border-radius: .4rem;
  border-radius: .4rem;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.btn:hover,
.btn:focus {
  background-color: #ffb133;
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
}

.btn--o {
  color: #373737;
  background-color: white;
  border: 0.1rem solid #373737;
}

.btn--o:hover {
  background-color: #373737;
  color: white;
}

.section {
  padding: 5rem 0;
}

.section__header {
  margin: 0;
  font-size: 2.7rem;
  color: #313131;
  font-weight: bold;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.section__header:after {
  content: '';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 4.6rem;
  height: 0.6rem;
  background: url("../img/wavy-line.png") no-repeat;
  margin: 2rem auto 3rem;
}

input {
  padding: 1.5rem 1.7rem;
  -webkit-border-radius: .4rem;
  border-radius: .4rem;
  border: none;
  -webkit-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: -0.03rem;
}

.form-wrap {
  display: inline-block;
  max-width: 100%;
  margin-top: 2.4rem;
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.2);
}

.form-wrap--transparent {
  background: transparent;
}

.form-wrap__text {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.form-wrap__text--important {
  font-weight: bold;
  line-height: 3.2rem;
  text-transform: uppercase;
}

.form-wrap__subtext {
  margin-left: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 3rem;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1.2rem 0;
}

.form--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form--vertical .form__input {
  max-width: 100%;
  width: 36.5rem;
  margin: 0;
}

.form--vertical .form__btn {
  margin-top: 1rem;
}

.form__input {
  margin-right: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.modal.active {
  pointer-events: all;
  opacity: 1;
}

.modal-content {
  margin: auto;
  position: relative;
}

.modal-close {
  position: absolute;
  z-index: 9999;
  right: -1.75rem;
  top: -1.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  border: .2rem solid white;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 4rem;
  color: white;
  line-height: 0;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  cursor: pointer;
}

.modal-close:hover {
  background-color: black;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  min-width: 320px;
  overflow-x: hidden;
}

body.scroll-disabled {
  height: 100vh;
  overflow-y: hidden;
}

.header {
  background-color: white;
  padding: 1.5rem 0;
}

.header-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-info__phones {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2.5rem;
  color: rgba(0, 0, 0, 0.75);
  font-size: 2rem;
}

.header-info__phones:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  vertical-align: middle;
  width: 0.1rem;
  height: 3.2rem;
  background: rgba(0, 0, 0, 0.2);
}

.header-info__link {
  margin-right: 4rem;
  white-space: pre;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.header-info__link:last-child {
  margin-right: 0;
}

.header-info__link:hover {
  color: black;
}

.header-info__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-info__btn img {
  margin: auto;
  margin-right: .7rem;
  width: 2rem;
  height: 2rem;
}

.logo img {
  margin: auto;
  max-width: 100%;
}

.home-screen {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 53.3rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.home-screen__bg-wrap {
  visibility: hidden;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.home-screen__bg-wrap .slick-list,
.home-screen__bg-wrap .slick-track {
  height: 100%;
}

.home-screen__bg-wrap img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.home-screen__box {
  visibility: hidden;
  margin-top: 3rem;
}

.main-text {
  visibility: hidden;
  margin-left: -5rem;
}

.main-text__title {
  margin: 1rem 0 1.5rem;
  font-size: 4.1rem;
  line-height: 4.2rem;
}

.main-text__subtitle {
  font-size: 2.8rem;
}

.advantages {
  background-color: #f4f4f4;
}

.advantage {
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.advantage__title {
  color: #f39003;
  font-size: 3.6rem;
  font-weight: 900;
  margin-top: 0;
}

.advantage__subtitle {
  font-weight: 300;
}

.features {
  background-color: #f4f4f4;
  margin-top: -5rem;
}

.features [class^=col] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.feature {
  margin: 1rem 0;
  padding: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
}

.feature__pic {
  width: 11rem;
  margin-right: 1.5rem;
  margin-top: -1rem;
}

.feature__pic img {
  max-width: 100%;
}

.feature__name {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.feature__descr {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 300;
}

.products {
  padding: 5rem 0;
}

.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.product__img {
  max-width: 100%;
}

.product__name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  margin: 2rem 0 2.5rem;
}

.product-footer {
  margin-bottom: 2.5rem;
}

.product-footer__btn {
  margin-right: .5rem;
}

.offering {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 41.2rem;
  background: rgba(0, 0, 0, 0.8) url("../img/offering-bg.jpg") center/cover;
}

.offering--secondary {
  background-image: url("../img/offering-bg2.jpg");
}

.offering-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  margin: 3.5rem auto;
  color: white;
}

.offering-text__title {
  margin: 0 0 1rem;
  font-size: 3.2rem;
}

.offering-text__subtitle {
  font-size: 2.6rem;
  margin: 0;
}

.offering-text__small {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 3rem;
}

.production {
  padding: 5rem 0;
}

.production-preview {
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.production-preview__item {
  max-width: 65.3rem;
}

.production-preview__item img {
  width: 100%;
  height: 36rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.production-text__title {
  font-size: 2.8rem;
  line-height: 1;
  color: white;
  width: 111%;
  background: #ff9d00;
  padding: 2rem;
  padding-left: 4rem;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: -1;
  left: -4rem;
}

.production-text p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
}

.slider {
  margin: 0 auto;
}

.slider-wrapper {
  padding: 0 3rem;
}

.slider__item {
  cursor: pointer;
  margin: 0 .2rem;
}

.slider__item img {
  height: 10rem;
  width: 14.1rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider .slick-arrow {
  width: 2.5rem;
  height: 100%;
  border: 1px solid #ff9d00;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.slider .slick-arrow:hover {
  background: #ff9d00;
}

.slider .slick-prev:before,
.slider .slick-next:before {
  content: '';
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2rem;
  height: 2rem;
  border-top: 2px solid #ff9d00;
  border-left: 2px solid #ff9d00;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.slider .slick-prev:before {
  left: .5rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slider .slick-next:before {
  right: .5rem;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.slider .slick-prev:hover:before,
.slider .slick-next:hover:before {
  border-color: white;
}

.slider .slick-prev {
  left: -3rem;
}

.slider .slick-next {
  right: -3rem;
}

.client {
  position: relative;
  margin: 3rem auto 0;
  max-width: 21.5rem;
  min-height: 13.3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.client:hover {
  cursor: pointer;
}

.client:hover .client__logo {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.client__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.reviews {
  background-color: #f4f4f4;
  padding: 5rem 0;
  text-align: center;
}

.reviews-wrapper {
  padding: 0 3rem;
}

.reviews-slider {
  margin: 0 auto;
}

.reviews-slider__slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3.5rem;
  background: white;
  width: 28rem;
  height: 38rem;
  outline: none;
  cursor: pointer;
}

.reviews-slider__slide img {
  max-width: 100%;
  margin: auto;
}

.reviews-slider .slick-arrow {
  z-index: 1;
  height: 100%;
  width: 4rem;
}

.reviews-slider .slick-prev:before,
.reviews-slider .slick-next:before {
  content: '';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  height: 4rem;
  border-top: 2px solid #ff9d00;
  border-left: 2px solid #ff9d00;
}

.reviews-slider .slick-prev:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.reviews-slider .slick-next:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.contacts {
  position: relative;
  min-height: 55rem;
}

.contacts-body {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 40rem;
  padding: 3rem 5rem;
  background-color: #fff;
}

.contacts-block {
  margin-bottom: 2.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contacts-block:last-child {
  margin-bottom: 0;
}

.contacts-block__info {
  margin-left: 1.2rem;
}

.contacts-block__row {
  width: 100%;
  margin-bottom: 1.3rem;
}

.contacts-block__title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: -.3rem;
  margin-bottom: 1rem;
}

.contacts-block img {
  width: 2rem;
  margin-top: -.3rem;
}

.contacts-block a,
.contacts-block address {
  line-height: 1.4;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contacts-block__btn {
  margin-top: 1rem;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #eee url("../img/map.jpg") center/contain;
}

.footer {
  background: #1b1b1b;
  text-align: center;
  padding: 3.5rem 0;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
}

.call-modal {
  position: relative;
  background: #f9f9f9;
  padding: 3rem 2rem 2rem;
  -webkit-border-radius: .4rem;
  border-radius: .4rem;
  text-align: center;
}

.call-modal__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 900;
  color: #ff9d00;
  text-transform: uppercase;
}

.call-modal__subtitle {
  font-size: 1.6rem;
  color: #444;
}

.call-form {
  margin-top: 2rem;
}

.call-form input,
.call-form button {
  height: 5.6rem;
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .home-screen__box {
    right: 2.5rem;
  }

  .home-screen__box img {
    width: 45rem;
  }

  .main-text {
    margin-left: 0;
  }

  .production-preview__item {
    max-width: 100%;
  }

  .reviews-slider__slide {
    margin: 0 .7rem;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }

  .header-info__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.8rem;
  }

  .header-info__phones:after {
    display: none;
  }

  .header-info__link {
    margin: 0 0 .5rem;
  }

  .header-info__link:last-child {
    margin-bottom: 0;
  }

  .home-screen__box {
    display: none;
  }

  .advantage__title {
    font-size: 2.7rem;
  }

  .production-text__title {
    text-align: center;
    margin-top: 2rem;
    padding-left: 2rem;
    left: 0;
    width: 100%;
  }

  .reviews-slider .reviews-slider__slide {
    margin: 0 11rem;
  }
}

@media (max-width: 768px) {
  .form-wrap__subtext {
    margin: 1rem 0 0;
  }

  .form {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form__input {
    width: 100%;
    margin: 0;
  }

  .form__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem auto 0;
  }

  .container {
    max-width: 95%;
  }

  .header {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    padding: .6rem 0;
  }

  .header-info__phones {
    font-size: 1.6rem;
  }

  .header-info__btn {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    font-size: 0px;
    color: transparent;
  }

  .header-info__btn img {
    margin: 0;
  }

  .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ff9d00;
    -webkit-border-radius: .4rem;
    border-radius: .4rem;
    width: 4rem;
    height: 4rem;
    padding: .5rem;
  }

  .logo img {
    margin-top: .5rem;
  }

  .home-screen {
    padding-top: 5.5rem;
  }

  .main-text {
    margin: 2rem 0;
    text-align: center;
  }

  .main-text__title {
    font-size: 3.2rem;
    line-height: 1;
  }

  .main-text__subtitle {
    font-size: 2rem;
  }

  .advantage {
    margin-bottom: 2rem;
  }

  .features {
    margin-top: -5rem;
  }

  .offering-text__title {
    font-size: 3rem;
    line-height: 1;
  }

  .slider-wrapper {
    display: none;
  }

  .client {
    padding: 1rem;
  }

  .client__logo {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .reviews-slider {
    max-width: 30rem;
  }

  .reviews-slider .reviews-slider__slide {
    margin: 0;
  }

  .contacts-body {
    position: static;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .contacts-block img {
    display: none;
  }

  .contacts-block a,
  .contacts-block address {
    margin: 0 auto;
  }

  .contacts-block__info {
    text-align: center;
    margin: 0 auto;
  }

  .map {
    position: static;
    display: block;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 7.5px;
    width: 100%;
  }

  .production-preview__item img {
    height: 26rem;
  }

  .production-text p {
    text-align: center;
  }

  .reviews-wrapper {
    padding: 0 1rem;
  }

  .reviews-slider .slick-next {
    right: -1rem;
  }

  .reviews-slider .slick-prev {
    left: -1rem;
  }

  .contacts-body {
    padding-left: 0;
    padding-right: 0;
  }
}