@media (max-width: 992px) {
  .header .contacts .phones {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1.5rem;
  }

  .header .contacts .phones .phone {
    font-size: 2rem;
    margin: 0;
  }

  .header .contacts .phones .phone:nth-child(2) {
    margin: 0;
  }

  .header .contacts .phones .phone:after {
    display: none;
  }

  .production .main-text__title {
    text-align: center;
    margin-top: 2rem;
    padding-left: 2rem;
    -webkit-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}

@media (max-width: 768px) {
  .header .contacts button {
    padding: 0.5rem;
  }

  .header .contacts button img {
    margin: 0;
  }

  .header .contacts button span {
    display: none;
  }
}

@media (max-width: 576px) {
  .header .logo .logo-normal {
    display: none;
  }

  .header .logo .logo-small {
    display: block;
    width: 4rem;
    height: 4rem;
    background: #ff9d00;
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    padding: 0.7rem;
  }

  .header .contacts .phones .phone {
    font-size: 1.5rem;
  }

  .main .main-text__title {
    font-size: 3.2rem;
    line-height: 2.8rem;
    text-align: center;
  }

  .main .main-text__subtitle {
    font-size: 1.9rem;
    text-align: center;
  }

  .main .main-text .form {
    text-align: center;
    margin-top: 1.4rem;
    background: rgba(255,255,255,0);
    padding: 2.5rem 0;
  }

  .main .main-text .form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main .main-text .form form input,
  .main .main-text .form form button {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .our-clients .clients .item {
    padding: 1rem;
  }

  .our-clients .clients .item img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}