@media (max-width: 992px) {
  html {
    font-size: 9px;
  }

  .header .contacts .phones {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1.5rem;
  }

  .header .contacts .phones .phone-1,
  .header .contacts .phones .phone-2 {
    font-size: 2rem;
    margin: 0;
  }

  .header .contacts .phones .phone-1:after,
  .header .contacts .phones .phone-2:after {
    display: none;
  }

  .header .contacts .phones .phone-2 {
    margin: 0;
  }

  .features .feature__title {
    font-size: 3rem;
  }

  .features .feature__subtitle {
    font-size: 1.6rem;
  }

  .features .feature-blocks .feature-block {
    padding: 1rem;
  }

  .production .main-text__title {
    text-align: center;
    margin-top: 2rem;
    padding-left: 2rem;
    -webkit-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    margin: 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid #000;
  }

  .header .logo > img {
    display: none;
  }

  .header .logo-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #ff9d00;
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
  }

  .header .logo-mobile img {
    margin: auto;
  }

  .header .contacts .phones .phone-1,
  .header .contacts .phones .phone-2 {
    font-size: 1.6rem;
  }

  .header .contacts .btn {
    padding: 0.5rem;
  }

  .header .contacts .btn img {
    margin: 0;
  }

  .header .contacts .btn span {
    display: none;
  }

  .main {
    margin-top: 5.5rem;
  }

  .production .slider-wrapper {
    display: none;
  }

  .our-clients .clients .item {
    padding: 1rem;
  }

  .our-clients .clients .item img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .reviews .reviews-slider {
    max-width: 28rem;
  }

  .reviews .reviews-slider .slide {
    margin: 0;
  }

  .contact-us .main-text {
    margin: auto;
    text-align: center;
  }

  .contact-us .main-text__section img {
    display: none;
  }

  .contact-us .map {
    position: static;
    display: block;
  }
}

@media (max-width: 576px) {
  .main .main-content .title {
    font-size: 3.2rem;
    line-height: 2.8rem;
    text-align: center;
  }

  .main .main-content .subtitle {
    font-size: 1.9rem;
    text-align: center;
  }

  .main .main-content .form {
    text-align: center;
    margin-top: 3rem;
    background: rgba(255,255,255,0);
    padding: 0;
  }

  .main .main-content .form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main .main-content .form form input,
  .main .main-content .form form button {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}