.header
  margin: 1.5rem 0
  background: white
  // < 768px
  +sm
    position: fixed
    z-index: 4
    left: 0
    top: 0
    width: 100%
    margin: 0
    padding: .6rem 0
    border-bottom: 1px solid black

.logo
  // < 768px
  +sm
    display: flex
    align-items: center
    justify-content: center
    background: #ff9d00
    border-radius: .4rem
    width:  4rem
    height: 4rem
    padding: .5rem
    img
      margin-top: .5rem
  img
    margin: auto
    max-width: 100%

.header-info
  display: flex
  justify-content: flex-end
  align-items: center
  &__phones
    position: relative
    display: flex
    margin-right: 2.5rem
    font-size: 2rem
    // < 992px
    +md
      display: flex
      flex-direction: column
      font-size: 1.8rem
      &:after
        display: none
    // < 768px
    +sm
      font-size: 1.6rem
    &:after
      content: ''
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      display: inline-block
      vertical-align: middle
      width:  0.1rem
      height: 3.2rem
      background: rgba(black, .2)
  &__link
    white-space: pre
    margin-right: 4rem
    &:last-child
      margin-right: 0
    &:hover
      color: black
      text-decoration: none
    // < 992px
    +md
      margin: 0 0 .5rem
      &:last-child
        margin-bottom: 0
  &__btn
    display: flex
    align-items: center
    // < 768px
    +sm
      justify-content: center
      width:  4rem
      height: 4rem
      padding: .5rem
      // Hide text
      font-size: 0px
      color: rgba(0,0,0,0)
      img
        margin: 0
    img
      margin: auto
      margin-right: .7rem
      width:  2rem
      height: 2rem
