.home-screen
  position: relative
  display: flex
  align-items: center
  min-height: 53.3rem
  background-color: rgba(black, 0.8)
  color: white
  // < 768px
  +sm
    padding-top: 5.5rem
  &__bg-wrap
    visibility: hidden
    position: absolute
    z-index: 0
    left: 0
    top:  0
    width:  100%
    height: 100%
    .slick-list,
    .slick-track
      height: 100%
    img
      height: 100%
      object-fit: cover
  &__box
    visibility: hidden
    margin-top: 3rem
    // < 1200px
    +lg
      right: 2.5rem
      img
        width: 45rem
    // < 992px
    +md
      display: none

.main-text
  visibility: hidden
  margin-left: -5rem
  // < 1200px
  +lg
    margin-left: 0
  // < 576px
  +sm
    margin: 2rem 0
    text-align: center
  &__title
    margin: 1rem 0 1.5rem
    font-size: 4.1rem
    line-height: 4.2rem
    +sm
      font-size: 3.2rem
      line-height: 1
  &__subtitle
    font-size: 2.8rem
    +sm
      font-size: 2rem
